@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-light: #dbdbdb;
  --color-dimmer-light: #a8a8a8;
  --color-dark: #424242;
  --color-accent: #d6ab5c;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-sans-condensed: 'IBM Plex Sans Condensed', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;
}

.icon-logo {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a:visited {
  color: var(--color-dimmer-light);
  text-decoration: line-through solid;
  cursor: pointer;
}

a:hover {
  color: var(--color-accent);
}
