.footer {
  display: flex;
  height: 70px;
  background-color: var(--color-dark);

  &__info {
    display: flex;
    margin: auto;
  }

  &__container {
    display: flex;
  }

  &__logo {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }

  &__logo-path {
    stroke: var(--color-dimmer-light);
    stroke-width: 10px;
  }

  &__text {
    color: var(--color-dimmer-light);
    font-family: var(--font-mono);
    font-size: 20px;
    margin: auto 0 auto 10px;
  }
}
